<div id="header">
<i class="puzzle icon"></i>
<h2 class="title"><%= String.upcase(gettext "Create Project") %></h2>
<div>

<%= render "form.html", Map.put(assigns, :action, project_path(@conn, :create)) %>

