$font-type: 'Montserrat',sans-serif;
$font-type-body: 'Muli', sans-serif;
$primary-color: #013243;
$secondary-color: #598392;
$tertiary-color: #415A77;
$light-grey: #BFBFBF;
$color-gainsbord: #DDDFDF;
$background-primary-color: white;
$transparent-color: rgba(0, 0, 0, 0);
$separator-color: rgba(233, 230, 230, 0.151);
