<h2>Edit Page not found</h2>

<%= render "form.html", Map.put(assigns, :action, page_not_found_path(@conn, :update, @page_not_found)) %>

<span><%= link "Back", to: page_not_found_path(@conn, :index) %></span>
